#PlayersHistory {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.game-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.win-rate {
  align-self: center;
  margin-top: 20px;
  font-weight: bold;
}
